header {
	width: 20vw;
	min-height: 100vh;
	height: 100%;
	float: left;
	background-image: linear-gradient($colorBlue, $colorLightBlue);
	position: fixed;

	ul {
		display: flex;
		flex-direction: column;
		padding: pxToRem(25);
	}

	a {
		color: $colorWhite;
		font-size: pxToRem(16);
		text-decoration: none;
		padding: pxToRem(10) 0;
		border-bottom: 0;

		&:hover {
			border-bottom: 1px solid $colorWhite;
			margin-bottom: 1px;
		}
	}
}
