.clientOverview {
    display: flex;
    flex-direction: row;

    &__client {
        width: 25vw;
        height: pxToRem(250);
        border-radius: pxToRem(5);
        margin: pxToRem(15) pxToRem(5) pxToRem(5) 0;
    }

    &__clientInformation {
        a{
            color: $title;
            text-decoration: none;
        }
    }
}