$colorWhite: #fff;
$colorLightGrey: #efefef;
$colorLighterGrey: #fafafa;
$colorDarkGreen: #00a896;
$colorDarkerGreen: #028090;
$colorBlue: #367fa9;
$colorLightBlue: #3c8dbc;

$headerbg: $colorBlue;
$title: $colorDarkerGreen;
